
    #MomapixNavigation {
		
        float: left;
	padding-left: 15px;
	padding-top: 5px;		
	margin: 0;
        font-size: 12px;
	}
        
    #momapix_image_results
    
    {  
      margin-left:8px
    } 
    
    #momapix_image_results_event
    
    {  
      margin-left:8px
    }
    p
    {
      font-size:10px; 
      margin-top:1px;
        
    }
    
    input[type="text"] {
        font-size:12px;
        width: 250px;
        height: 24px;
        padding: 2px;
        margin: 2px;
  
}
      
    
    #momapix_image_results_inside
    {      
        float:left; 
        position:relative;
        width:105px;
        height:165px; 
        text-align:center;
        overflow:hidden;
        font-size:11px;
        background-color: #eee;
        border:0px solid #aaa;
        margin:10px;
    }
    
        #momapix_image_results_inside_event
    {      
        float:left; 
        position:relative;
        width:105px;
        height:165px; 
        text-align:center;
        overflow:hidden;
        font-size:11px;
        background-color: #eee;
        border:0px solid #aaa;
        margin:10px;
    }
    
    #img_result  
  {
        margin-top:5px;
        max-width:90px;
        max-height:100px;
  }
  
  #no_images{
      margin-left:14px
  }
   #top_msg{
      margin-left:20px;
      font-size: 12px;
  }
  
  